@model SheetSeller.Models.DTO.ChangePasswordModel
@{
}

<form class="w-40" asp-action="ChangePassword" method="post">
    <h2 class="pb-10">ChangePassword</h2>
    <div class="input-container">
        <label asp-for="CurrentPassword" class="w-40">Current Password</label>
        <input type="password" class="input" asp-for="CurrentPassword">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="CurrentPassword"></span>
    </div>

    <div class="input-container">
        <label asp-for="NewPassword" class="w-40">New Password</label>
        <input type="password" class="input" asp-for="NewPassword">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="NewPassword"></span>
    </div>

    <div class="input-container">
        <label asp-for="PasswordConfirm" class="w-40">PasswordConfirm</label>
        <input type="password" class="input" asp-for="PasswordConfirm">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="PasswordConfirm"></span>
    </div>


    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Change Password</button>
    </div>
</form>