@model SheetSeller.Models.DTO.ChangePasswordPass
@{
    Layout = "_LayoutEmpty";
}
<div class="box fit-w">
    <form class="center" asp-action="ResetPassword" method="post">
        <div class="input-container">
            <label asp-for="NewPassword">New password</label>
            <input type="password" class="input" asp-for="NewPassword">
        </div>
        <div class="message-box error">
            <span asp-validation-for="NewPassword"></span>
        </div>

        <div class="input-container">
            <div class="sides">
                <label asp-for="PasswordConfirm" class="w-40">Confirm pasword</label>
            </div>
            <input type="password" class="input" asp-for="PasswordConfirm">
            <input asp-for="userID" value="@Model.userID" hidden="hidden">
            <input asp-for="token" value="@Model.token" hidden="hidden">
        </div>
        <div class="message-box error">
            <span asp-validation-for="PasswordConfirm"></span>
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="alert mb-1">
                @TempData["msg"]
            </div>
        }

        <div>
            <button class="btn btn-default" type="submit">Change password</button>
        </div>
    </form>
</div>