@model SheetSeller.Models.DTO.ChangePasswordUser
@{
    Layout = "_LayoutEmpty";
}
<h3>Restore password</h3>
<div class="box fit-w">
    <form class="center" asp-action="SendResetPasswordLink" method="post">
        <div class="input-container">
            <label asp-for="Email">Email</label>
            <input type="text" class="input" asp-for="Email">
        </div>
        <h4>or</h4>
        <div class="input-container">
            <label asp-for="Username">Username</label>
            <input type="text" class="input" asp-for="Username">
        </div>

        @if (TempData["msg"] != null)
        {
            <div class="alert mb-1">
                @TempData["msg"]
            </div>
        }

        <div>
            <button class="btn btn-default" type="submit">Reset password</button>
        </div>
    </form>
</div>