@{
}
<div style="margin:2rem">
    <h1>About US</h1>
        <p>Simple web shop where you can buy or sell pdf files.</p>
    
    <h2>General Information</h2>
        <p>With this site you can:</p>
        <ul dir="auto">
            <li>Register/Login your account</li>
            <li>Login with Google</li>
            <li>Recive mails to confirm email, change password</li>
            <li>Set/change profile image</li>
            <li>Create and edit sheets to sell</li>
            <li>Use tag system to simplify searching sheets</li>
            <li>Buy sheets or get it for free</li>
            <li>Pay for sheet via LiqPay(in test mode)</li>
        </ul>
    
    <h2>Technologies Used</h2>
        <ul dir="auto">
        <li>.NET Core WEB app</li>
        <li>User authentication via ASP.NET Core Identity + Logining with Google</li>
        <li>Email confirmation via Google SMPT</li>
        <li>Pay with LiqPay (test mode)</li>
        <li>Using Entity Framevork</li>
        </ul>
    
    <h2>Acknowledgements</h2>
        <p>This project was based on <a href="https://www.youtube.com/watch?v=cQ3HH0MJqDs&amp;list=PLP8UhDwXI7f_-5Swp8DlNa6wD15e1JYrU&amp;index=6" rel="nofollow">this tutorial</a></p>
</div>