@model SheetSeller.Models.DTO.SheetList

<section class="m04">
    <form method="get" asp-action="Index">
        <div class="inp">
            <input class="fill-w" type="text" name="term" placeholder="search here">
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</section>
<section class="grd">
        @foreach(var sheet in Model.Sheets)
        {
        @await Html.PartialAsync("Sheet_Partial", sheet)
        }
</section>
<div>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <a href="/Home/Index?currentPage=@i&term=@Model.Term" class="active">@i</a>
            }
            else
            {
                <a href="/Home/Index?currentPage=@i&term=@Model.Term">@i</a>
            }
        }

</div>
