:root {
}
label {
    color: rgb(225, 225, 225);
}
.profile-image {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    object-fit: cover;
}
.img-form {
    top: -2.7rem;
    position: relative;
    width: -webkit-fill-available;
}
.box {
    box-shadow: 0px 0px 12px 2px rgb(0,0,0);
    background-color: rgb(42, 42, 42);
    border-radius: 5px;
    padding: 20px;
    width: fit-content;
    margin: 0.8rem;
}
.input-container {
    display: flex;
    flex-direction:column;
    padding: 0.4rem;
    min-width:75%;
}
.input {
    max-width: 18rem;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0);
    font-size: 15px;
    color: rgb(65,65,65);
    border-radius: 5px;
    padding: 0.8rem 1rem 0.6rem 1rem;
}
.message-box {
    font-size: 16px;
    padding: 0.3rem 0;
}
.btn {
    height: fit-content;
    width: fit-content;
    margin: 0.25rem 0;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    line-height: 1.5;
    text-decoration: none;
}
.btn-default {
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to right, #a044ff, #6a3093);
}
.btn-img {
    background: rgb(0, 0, 0, 0.60);
    width: -webkit-fill-available;
}
.side {
    width: fit-content;
    width: -webkit-fill-available;
    grid-column: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.fill-w {
    min-width: 20%;
    width: -webkit-fill-available;
    grid-column: 2;
}
.inp {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-width: -webkit-fill-available;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0);
    color: rgb(65,65,65);
    border-radius: 5px;
    width: -webkit-fit-content;
}
.inp > input{
    font-size: 15px;
    padding: 0.8rem 1rem 0.6rem 1rem;
}

@media (max-width: 760px) {
    .side {
        max-width: 100%;
        grid-row: 1;
        grid-column: 1;
    }

    .fill-w {
        grid-row: 2;
        grid-column: 1;
    }
}
