:root {
    --primary-color: rgb(65,65,65);
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.side {
    display: flex;
}
.error {
    color: red;
}
.href{
    color:rgb(125, 125, 125);
}
.href:hover{
    color:rgb(160, 160, 160);
    text-shadow 0px 0px 1px var(--hover-color);
}
.w-40 {
    width: 40%;
}
.pd-2 {
    padding:2rem;
}
.pd-05 {
    padding: 0.5rem;
}
.fit-w{
    min-width:20%;
    width:fit-content;
}
