:root {
    --primary-color: rgb(65,65,65);
}
input[type="file"] {
    display: none;
}
.text-mini {
    margin: 0;
    color: rgb(125,125,125);
}
.circle {
    border-radius: 18rem;
    overflow: hidden;
    height: 18rem;
    width: 18rem;
    box-shadow: 0 0 6px 1px #000000c9;
}
.sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.error {
    color: red;
}
.href {
    color: rgb(125, 125, 125);
    text-decoration: none;
    list-style: none;
}
.grd {
    display: grid;
    grid-gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
}
.href:hover{
    color:rgb(160, 160, 160);
    text-shadow: 0px 0px 1px var(--hover-color);
}
.w-max {
    width: -webkit-fill-available;
}
.pd-2 {
    padding:2rem;
}
.pd-05 {
    padding: 0.5rem;
}
.h-20 {
    min-height: 20rem;
}
.m04{
    margin:0.4rem ; 
}
