:root {
    --primary-color: rgb(65,65,65);
}
input[type="file"] {
    display: none;
}
.sides {
    display: flex;
    justify-content: space-between;
}
.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.error {
    color: red;
}
.href{
    color:rgb(125, 125, 125);
}
.href:hover{
    color:rgb(160, 160, 160);
    text-shadow: 0px 0px 1px var(--hover-color);
}
.pd-2 {
    padding:2rem;
}
.pd-05 {
    padding: 0.5rem;
}
.h-20 {
    min-height: 20rem;
}