@{
    string? username = User.Identity.Name;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SheetSeller</title>
    <link rel="stylesheet" href="/css/StyleSheet.css">
    <link rel="stylesheet" href="/css/Parts.css">
    <link rel="stylesheet" href="/css/Styles.css">
    <link rel="stylesheet" href="/css/Modal.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">
            <a href="/Home/Index">Sheet Seller</a>
        </div>
        <ul class="nav-link">
            @if (User.IsInRole("admin"))
            {
              <li>
                <a href="#">Admin <i class="fa fa-caret-down"></i></a>

                <ul class="dropdown-nav-link">
                    <li><a href="/forms.html">Form</a></li>
                    <li><a href="/table.html">Table</a></li>
                    <li><a href="/movie-detail.html">Movie Detail</a></li>
                    <li><a href="#">Link 4</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </li>   
            }
            @if (string.IsNullOrEmpty(username))
            {
                <li><a href="/UserAuthentication/Login">Login</a></li>
                <li><a href="/UserAuthentication/Registration">Register</a></li>
            }
            else
            {
                <li><a href="/Account/MyAccount">Hello @(username)</a></li>
                <li><a href="/UserAuthentication/LogOut">Logout</a></li>
            }
        </ul>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer>
        <a href="/Home/About">About</a>
        &#169; 2023 Nazarii Harasko
    </footer>
</body>
</html>