@model SheetSeller.Models.Domain.Sheet

<a class="sheet" href="/Sheet/Sheet?Id=@Model.ID">
    <div class="sides">
        <h2>@Model.Title</h2>
        @if (Model.OwnedBy != null && Model.OwnedBy.Any(u => u.UserName == User.Identity.Name))
        {
            <h3 class="pd-05">Owned</h3>
        }
        else{
        <h3 calss="btn" href="/">@Model.Price $</h3>
        }
    </div>
    <h8 class="href">@Model.Owned</h8>
    <hr />
    <h3>Description:</h3>
    @Model.Description
</a>
